mj-section(padding="15px" mj-class="bgT1")
    mj-column
        mj-text(padding="0" align="center" mj-class="T30-500 cTW" letter-spacing="2px") ... et bien plus encore sur le Store NETGEAR.
        mj-spacer(height="50px")
        mj-button(padding-bottom="10px" mj-class="bgW cT0" href="#") Découvrir