mj-section(mj-class="bgW" padding="0")
    mj-column(width="100%")
        mj-image(padding="0" src="./images/planMaison.jpg" alt="")
mj-section(mj-class="bgW")
    //-Produit 1
    mj-column(width="50%" padding="10px 20px" )
        mj-text(align="center" padding="0" mj-class="T17-500") #[strong 1]
        mj-text(align="center" padding="0" mj-class="T17-500" text-transform="uppercase") #[strong Norme wifi]
        mj-text(align="center" padding="0" mj-class="T17-500") La dernière norme WiFi 6 est aussi disponible sur la catégorie des Répéteurs.
    //-Produit 2
    mj-column(width="50%" padding="10px")
        mj-text(align="center" padding="0" mj-class="T17-500") #[strong 2]
        mj-text(align="center" padding="0" mj-class="T17-500" text-transform="uppercase") #[strong Mode point d'accès]
        mj-text(align="center" padding="0" mj-class="T17-500") Avec un Répéteur, vous avez la possibilité de couper le WiFi de votre box pour laisser le Répéteur jouer le rôle de point d'accès WiFi.
    //-Produit 3
    mj-column(width="33.333333%" padding="10px")
        mj-text(align="center" padding="0" mj-class="T17-500") #[strong 3]
        mj-text(align="center" padding="0" mj-class="T17-500" text-transform="uppercase") #[strong Technologie mesh]
        mj-text(align="center" padding="0" padding-bottom="20px" mj-class="T17-500") Certains Répéteurs créent un WiFi Mesh pour profiter d'un seul nom WiFi et mot de passe.
    //-Produit 4
    mj-column(width="33.333333%" padding="10px")
        mj-text(align="center" padding="0" mj-class="T17-500") #[strong 4]
        mj-text(align="center" padding="0" mj-class="T17-500" text-transform="uppercase") #[strong Comptabilité]
        mj-text(align="center" padding="0" padding-bottom="20px" mj-class="T17-500") Les Répéteurs #[span(style="text-transform:uppercase;") NetGear] sont compatibles avec toutes les box et modems qui existent sur le marché.
    //-Produit 5
    mj-column(width="33.333333%" padding="10px")
        mj-text(align="center" padding="0" mj-class="T17-500") #[strong 5]
        mj-text(align="center" padding="0" mj-class="T17-500" text-transform="uppercase") #[strong Vitesse]
        mj-text(align="center" padding="0" mj-class="T17-500") Plusieurs modèles sont disponibles et à des vitesses différentes pouvant aller jusqu'à 6 Gbit/s.